button{
    background-color: black;
    color: white;
}

.details{
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 214, 215);
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 10% 0 10%;
    text-align: center;
    padding: 20px;
    gap: 5px;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

