.favoris_list{
    width: 90%;
    margin: auto;
    
    /* GRID---------------- */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: auto;
}

.noFavorites{
    font-size: 50px;
    text-align: center;
}

